<div class="nav">
  <h3 class="nav-title">Home</h3>
  <a href="#" class="nav-close">
    <span class="hidden">Close</span>
  </a>
  <ul>
    <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
    <li class="nav-ruby {% if page.url contains 'ruby' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/ruby">Ruby</a></li>
    <li class="nav-javascript {% if page.url contains 'javascript' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/javascript">JavaScript</a></li>
    <li class="nav-server {% if page.url contains 'server' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/server">Server</a></li>
    <li class="nav-database {% if page.url contains 'Database' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/database">Database</a></li>
  </ul>
  <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
