---
layout: default
disqus: false
class: "post-template"
---
<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
<!-- the [body] of the default.hbs template, which contains our header/footer. -->

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover | remove_firt: '/' }}) {% else %}no-cover{% endif %}">
  <nav class="main-nav overlay clearfix">
    <a class="back-button icon-arrow-left" href="/">Home</a>
    <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
  </nav>
</header>

<main class="content" role="main">

  <article class="{% if page.subclass %}{{ page.subclass }}{% else %}{{ 'post' }}{% endif %}">

    <header class="post-template post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <section class="post-meta">
        <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
        <!-- <a href='{{ site.baseurl }}{{ page.about }}'>{{ site.author }}</a> -->
        <!-- [[tags prefix=" on "]] -->
        {% if page.tags.size > 0 %}
        {% for tag in page.tags %}
        <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag }}</a>
        {% endfor %}
        {% endif %}
      </section>
    </header>

    <section class="post-content">

      {{ content | toc }}

      <h3>关于图片和转载</h3>

      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>进行许可。

      转载时请注明原文链接，图片在使用时请保留图片中的全部内容，可适当缩放并在引用处附上图片所在的文章链接，图片使用 Sketch 进行绘制。

      <h3>关于评论和留言</h3>

      如果对本文 <a href="{{ page.permalink }}">{{ page.title }}</a> 的内容有疑问，请在下面的评论系统中留言，谢谢。

      <blockquote>
        <p>原文链接：<a href="{{ page.permalink }}">{{ page.title }} · {{ site.name }}</a></p>

        <p>Follow: <a href="https://github.com/nju520">nju520 · GitHub</a></p>
      </blockquote>

    </section>

    <footer class="post-footer">

      <!-- Everything inside the #author tags pulls data from the author -->
      <!-- #author-->

      {% if site.image %}
      <figure class="author-image">
        <a class="img" href="https://github.com/nju520" style="background-image: url({{ site.baseurl }}{{ site.image }})"><span class="hidden">{{ page.author }}'s Picture</span></a>
      </figure>
      {% endif %}

      <section class="author">
        <h4><a href="https://github.com/nju520">{{ site.author }}</a></h4>

        {% if site.bio %}
        <p> {{ site.bio }}</p>
        {% else %}
        <!-- p>Read <a href="{{ site.baseurl }}author/{{ site.nickname }}">more posts</a> by this author.</p -->
        {% endif %}
        <div class="author-meta">
          {% if site.location %}<span class="author-location icon-location"> {{ site.location }}</span>{% endif %}
          {% if site.url %}<span class="author-link icon-link"><a href="{{ site.url }}"> {{ site.short_url }}</a></span>{% endif %}
        </div>
      </section>

      <!-- /author  -->

      <section class="share">
        <h4>Share this post</h4>
        <a class="icon-twitter" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url | remove: '/' }}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <span class="hidden">Twitter</span>
        </a>
        <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | remove: '/' }}"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <span class="hidden">Facebook</span>
        </a>
        <a class="icon-google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url | remove: '/' }}"
          onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
          <span class="hidden">Google+</span>
        </a>
      </section>

      <div id="gitalk-container"></div>
      <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
      <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
      <script>
       const gitalk = new Gitalk({
         clientID: 'e552ed507a5a4581d8a1',
         clientSecret: '0abbd4193a0f9b2700936214ff6fda088c665a73',
         repo: 'bobo-comments',
         owner: 'nju520',
         admin: ['nju520'],
         // labels: ['Gitalk', 'gitment'].concat(["{{ page.tags | join: '","'}}"]),
         // id: location.origin + location.pathname,
         id: "{{ page.url | prepend: site.host_url }}",
         distractionFreeMode: false
       });

       gitalk.render('gitalk-container')
      </script>

    </footer>

  </article>

</main>

<aside class="read-next">

  <!-- [[! next_post ]] -->{{ post.url | remove: '/' }}
  {% if page.next %}
  <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ page.next.cover }}){% else %}no-cover{% endif %}" href="{{ page.next.url | remove: '/' }}">
    <section class="post">
      <h2>{{ page.next.title }}</h2>
      <p>{{ page.next.content | strip_html | truncatewords:15 }}</p>
    </section>
  </a>
  {% endif %}
  <!-- [[! /next_post ]] -->
  <!-- [[! prev_post ]] -->
  {% if page.previous %}
  <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ page.previous.cover }}){% else %}no-cover{% endif %}" href="{{ page.previous.url | remove: '/' }}">
    <section class="post">
      <h2>{{ page.previous.title }}</h2>
      <p>{{ page.previous.content | strip_html | truncatewords:15 }}</p>
    </section>
  </a>
  {% endif %}
  <!-- [[! /prev_post ]] -->
</aside>

<!-- /post -->
